body {
  font-family: Arial;
  width: 183px;
  margin: 0px;
  padding: 0px;
}
#input {
  width: 100%;
  margin-bottom: 10px;
  font-size: 11pt;
}
#color {
  background-color: #fff;
  height: 50px;
  border: 1px solid  #aaa;
  cursor: pointer;
  /* border: 1px solid #000; */
}
.colortext {
  cursor: pointer;
  margin-bottom: 10px;
  border: 1px solid  #aaa;
  padding-left: 2px;
  box-shadow: inset 1px 1px 0px #000000;
}
.single {
  width: 30%;
  display:inline-block;
}
.error{
  background-color: #FFF8F8;
}
