body {
  font-family: Arial;
}
#color {
  background-color: #fff;
  width: 159px;
  height: 26px;
  text-align: center;
  font-size: 8pt;
  /* border: 1px solid #000; */
}
.single {
  width: 32%;
  display:inline-block;
}
