body {
  font-family: Arial;
  width: 200px;
  margin: 0px;
  padding: 0px;
}
#input {
  width: 100%;
}
#color {
  background-color: #fff;
  /* border: 1px solid #000; */
}
.colortext {
  margin-bottom: 10px;
  border: 1px solid  #aaa;
}
.single {
  width: 30%;
  display:inline-block;
}
